html,
body {
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #a5a5b1;
  display: flex;
  justify-content: center;
}
.card {
  height: 40vh;
  width: 25vw;
  margin-top: 20%;
  border : 1px solid black
}
.font{
  font-size: 1.1rem;
}
